exportPattern("[[:alpha:]]+")
import(rJava)
import(JGR)
import(MASS)
import(car)
import(e1071)
import(effects)
import(foreign)
import(ggplot2)
import(multcomp)
import(plyr)
import(scales)

S3method(plot, cor.matrix)
S3method(print, contin.table)
S3method(print,  contin.tests)
S3method(print,  contingency.tables)
S3method(print,  cor.matrix)
S3method(print,  freq.table)
S3method(print,  multi.test)

S3method(as.matrix,cor.matrix)
S3method(sort,data.frame)
S3method(summary,lm)